:root {
  --bg: #0e0f13;
  --bg-button: #fade28;
  --bg-table-row: #1c1e28;
  --bg-table: #151a24;
  --border: #ffffff14;
  --bg-table-row-soft: #151921;
  --background-button: #f42c5a; 
  --transform-duration: 0.3s;
  --text: #c7c7c8;
  --bg-contacts: #172028;
  --bg-gradient: #21171c;
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text',
    'Segoe UI', sans-serif;
}



html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--bg);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.hl-blue {
  color: #55c9e5;

  &:hover {
    opacity: 0.5;
    transition: opacity var(--transform-duration);
  }
}